# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!/flatpak
!.clang-format
!.cmake-format.json
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!install.sh
!package-deb.sh
!/vendor

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# Exclude large model weight files
*.bin
*.ggml
*.onnx
*.pt
*.gguf
